@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");

* {
  font-family: "Angkor", serif;
  text-shadow: black 2px 2px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 1rem;
  color: #fff;
  text-align: center;

  background: radial-gradient(
    circle,
    rgba(64, 168, 79, 1) 0%,
    rgba(55, 66, 52, 1) 100%
  );
  background-repeat: no-repeat;
}

h1 {
  padding-top: 80px;
  color: #000;
  text-shadow: none;
}

#message-el {
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 50px;
}

#sum-el {
  margin-top: 50px;
}

#cards-el {
}

#player-el {
  margin-top: 20px;
}

button {
  width: 120px;
  color: #fff;
  background-color: #ac4545;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;

  font-size: 1rem;
  box-shadow: black 2px 2px;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.5rem;
  }

  button {
    margin: 20px;
  }
}

.youLose {
  color: #ac4545;
}

.youWin {
  color: #f0d661;
}
